<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>672328723505-2080sdb90poqsf5o0c47u7dnjel9jgil.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672328723505-2080sdb90poqsf5o0c47u7dnjel9jgil</string>
	<key>API_KEY</key>
	<string>AIzaSyDqOW-704qVIjKqkGeTLNswc23RtRjEA7U</string>
	<key>GCM_SENDER_ID</key>
	<string>672328723505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NawalAlHarthi.Amahmad</string>
	<key>PROJECT_ID</key>
	<string>amahmed-2611</string>
	<key>STORAGE_BUCKET</key>
	<string>amahmed-2611.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672328723505:ios:f8c7179a4b76cfa645f910</string>
	<key>DATABASE_URL</key>
	<string>https://amahmed-2611.firebaseio.com</string>
</dict>
</plist>